.btns{
    background-color: aqua;
    color: aliceblue;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border: none;
    width: 100px;
    height:50px
}





